@import "tailwindcss";

:root {
  --border-color: #5386aa;
  --card-header-color: #303559;
  --card-body-color: #35577a;
  --card-text-color: #cec4be;
}

body {
  background-color: #3b3b3b;
  color: var(--card-text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-outline {
  -webkit-text-stroke: 0.05px black;
}

.weapon-card {
  background: var(--card-body-color);
  border: 2px solid var(--border-color);
}

.weapon-card-header {
  background-color: var(--card-header-color);
}

.weapon-list::-webkit-scrollbar {
  display: none;
}

.weapon-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 30px;
}

@keyframes flicker {
  0%, 100% { opacity: 1; filter: brightness(1); transform: scale(1); }
  50% { opacity: 0; filter: brightness(3); transform: scale(0.95); }
}

.flicker {
  animation: flicker 0.3s ease-in-out 3;
}