@import "tailwindcss";

:root {
  --border-color: #5386aa;
  --card-header-color: #303559;
  --card-body-color: #35577a;
  --card-text-color: #cec4be;
}

body {
  background-color: #3b3b3b;
  color: var(--card-text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.text-outline {
  -webkit-text-stroke: 0.05px black;
}

.play-area {
  max-width: 1200px;
  margin: 0 auto;
}

.weapon-card {
  background: var(--card-body-color);
  border: 9px solid var(--border-color);
}

.weapon-card-header {
  background-color: var(--card-header-color);
}

.weapon-list::-webkit-scrollbar {
  display: none;
}

.weapon-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin: 0 30px;
}